@model IEnumerable<CA2.Employee>


<div>
    <table class="table-hover table-striped table-bordered table-condensed table-responsive" >
        <tr>
            <th>
                Name
            </th>
        
            
            <th>
                Supervisor
            </th>
        
        </tr>

        @foreach (var item in Model) {
            <tr>
               @* Ajax to display order for employee*@

                    @using (@Ajax.BeginForm("EmpOrders", "Home", new {@id = item.EmployeeID},
                                            new AjaxOptions
                                                {
                                                    InsertionMode = InsertionMode.Replace,
                                                    UpdateTargetId = "ordTable"
                                                },
                                            new {@class = "form-horizontal", @role = "form", id = "form"}))
                    {

                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Employee1.LastName)
                        </td>
                        <td>
                            <a class="btn btn-xs btn-info" href="@Url.Action("Delete", "Home", new {id = item.Employee1.Orders})">Employee's Orders</a>
                        </td>
                    }
        
            </tr>
        }
        
    </table>
      <br/>
        <p>
           
           @* <a class="btn btn-xs btn-danger" href="@Url.Action("Delete", "Home", new {id = item.Employee1.Orders})">Employee's Orders</a>*@
        </p>
</div>