@model CA2.Order

@{
    ViewBag.Title = "Edit";
}


<div id="editDiv" class="edit">
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <fieldset>
        <legend>Edit this Order</legend>

        @Html.HiddenFor(model => model.OrderID)

        @*<div class="updateHeadings">
            @Html.LabelFor(model => model.CustomerID, "Customer")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CustomerID)
            @Html.ValidationMessageFor(model => model.CustomerID)
        </div>*@
        <div class="updateHeadings">
            Contact Name
        </div>
        <div class="">
            @Html.EditorFor(model => model.Customer.ContactName)
            @Html.ValidationMessageFor(model => model.Customer.ContactName)
        </div>
        <br/>
        <div class="updateHeadings">
           Employee
            @*@Html.DropDownList("EmployeeID", String.Empty)*@
        </div>
        <div class="editor-field">
            @Html.DropDownList("EmployeeID", String.Empty)
        </div>
         <br/>
        <div class="updateHeadings">
            Order Date
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OrderDate)
            @Html.ValidationMessageFor(model => model.OrderDate)
        </div>
         <br/>
        <div class="updateHeadings">
           Shipper
            @*@Html.DropDownList("ShipVia", String.Empty)*@
        </div>
        <div class="updateHeadings">
            @*@Html.LabelFor(model => model.ShipVia, "Shipper")*@
            @Html.DropDownList("ShipVia", String.Empty)
        </div>
       <br/>

        <div class="updateHeadings">
           Ship Name
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ShipName)
            @Html.ValidationMessageFor(model => model.ShipName)
        </div>
         <br/>
        <div class="updateHeadings">
            Ship To
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ShipAddress)
            @Html.ValidationMessageFor(model => model.ShipAddress)
        </div>
         <br/>
        <div class="updateHeadings">
            City
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ShipCity)
            @Html.ValidationMessageFor(model => model.ShipCity)
        </div>
         <br/>
        <div class="updateHeadings">
            Region
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ShipRegion)
            @Html.ValidationMessageFor(model => model.ShipRegion)
        </div>
         <br/>
        <div class="updateHeadings">
            Post Code
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ShipPostalCode)
            @Html.ValidationMessageFor(model => model.ShipPostalCode)
        </div>
         <br/>
        <div class="updateHeadings">
            Country
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ShipCountry)
            @Html.ValidationMessageFor(model => model.ShipCountry)
        </div>
         <br/>
        <p>
            <input type="submit" value="Save" class="btn btn-warning" /> |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </fieldset>
        
}

<div>
    
</div>
        
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
</div>