@model IEnumerable<CA2.Order>

 
@{
   
    ViewBag.Title = "Orders";
       
}

 

@section scripts {
    <script>
        $('#tbl').on('click', 'tr', function () {
            $('#form').submit(id);
        })
        </script>
}
@using (@Ajax.BeginForm("EmpDetails","Home", 
    new AjaxOptions{InsertionMode = InsertionMode.Replace, 
        UpdateTargetId = "empDets"}, 
    new {@class="form-horizontal", @role="form", id="form"}))
{
    <div id="ordTable" class="mainTableDiv">
    
        <table id="tbl" class="table-hover table-striped table-bordered table-condensed table-responsive" >
   
            <tr >
        
                <th class="tableHead">
                    Contact Name
                </th>
                <th class="tableHead">
                    Employee
                </th>
                <th class="tableHead">
                    Order Date
                </th>
        
                <th class="tableHead">
                    Company 
                </th>
        
                <th class="tableHead">
                    Ship Name
                </th>
                <th class="tableHead">
                    Ship To Address
                </th>

            </tr>

            @foreach (var item in Model)
            {
                <tr class="rowPointer" >
                     
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer.ContactName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Employee.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderDate)
                    </td>
        
                    <td>
                        @Html.DisplayFor(modelItem => item.Shipper.CompanyName)
                    </td>
        
                    <td >
                        @Html.DisplayFor(modelItem => item.ShipName)
                    </td>
                    <td class="scrolling" >
                        @Html.DisplayFor(modelItem => item.ShipAddress)<br/>
                        @Html.DisplayFor(modelItem => item.ShipCity)<br/>
                        @Html.DisplayFor(modelItem => item.ShipRegion)<br/>
                        @Html.DisplayFor(modelItem => item.ShipPostalCode)<br/>
                        @Html.DisplayFor(modelItem => item.ShipCountry)
                    </td>
                    
                    <td>
                        @Html.ActionLink("Edit", "Edit", new {id = item.OrderID}) |
                        @Html.ActionLink("Details", "Details", new {id = item.OrderID}) |
                        @Html.ActionLink("Delete", "Delete", new {id = item.OrderID})
                    </td>
                </tr>
            }
        </table>
    </div>
       
}
<div id="empDets" >
   
   
</div>
    