@model IEnumerable<mvcbs.Album>

@{
    ViewBag.Title = "Albums";
}

<h2 class=" text-info ">Albums</h2>

<p>
   
</p>
<table class="col-md-3 table-striped table-bordered">
    <tr>
       
        <th class="text-danger">
            @Html.DisplayNameFor(model => model.Title)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Title)
       
        <td>
            @Html.ActionLink("View Artist", "ViewArtist", "Order", new { id=item.AlbumId }, new {@class = "btn btn-success btn-sm"})

           @* @Html.ActionLink("Edit", "Edit", new { id=item.AlbumId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AlbumId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AlbumId })*@
        </td>
    </tr>
}

</table>
