@model IEnumerable<RACASem6.Models.Leg>


<script>
    $(document).ready(function () { toastr.info('There are ' +@Model.Count() +' Legs on this trip') });
</script>

<p></p>

<div class="col-sm-8">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-7 well-lg well " align="right">

                <table class="table-condensed table-hover table-striped">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.StartLocation)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FinishLocation)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LegStartDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LegFinishDate)
                        </th>
                        <th>Guests
                        </th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>

                                @Html.DisplayFor(modelItem => item.StartLocation)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FinishLocation)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LegStartDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LegFinishDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LegGuests.Count)
                            </td>

                        </tr>
                    }

                </table>
                @Html.ActionLink(" Create a trip leg", "CreateLeg", "Home", null, new { @class = "btn btn-success glyphicon glyphicon-send ", style = "margin-top:20px" })
            </div>
        </div>
    </div>
</div>

