@model RACASem6.Models.Trip

@{
    ViewBag.Title = "CreateTrip";
}
@section Scripts {
    <script>
        // call toastr on load
        $(function () {
            toastr.warning('Creating a new Student record');
        })
    </script>
}

<div class="row">
    <div class="col-lg-offset-1 col-sm-8">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 well-lg well spaceIt">
                    @using (Html.BeginForm("CreateTrip", "Home", FormMethod.Post, new { @class = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <h2>Create a new Trip</h2>
                        <h4>Enter a Trip name with a start and finish date for trip.</h4>
                        <div class="row">
                            <div class="col-xs-6 col-md-6 spaceIt">
                                @Html.TextBoxFor(model => model.TripName, new { @class = "input-lg form-control", placeholder = "Trip name" })
                                @Html.ValidationMessageFor(model => model.TripName)
                            </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 col-md-6 spaceIt">
                                    @Html.TextBoxFor(model => model.TripStartDate, new {@class="input-lg form-control", placeholder = "Start date" })
                                    @Html.ValidationMessageFor(model => model.TripStartDate)
                                </div>
                            </div>
                            
                        <div class="row">
                            <div class="col-xs-6 col-md-6 spaceIt">
                                
                                @Html.TextBoxFor(model=>model.TripFinishDate, 
                                        new {@class="form-control input-lg",
                                             placeholder = "Finsh date"
                                        })
                                @Html.ValidationMessageFor(model => model.TripFinishDate)
                            </div>
                            <div class="col-xs-6 col-md-6 spaceIt text-center">
                                
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-xs-6 col-md-6 spaceIt text-right">
                <div class="btn-group">
                                    <a href="@Url.Action("Index","Home")" class="btn btn-primary"><i class="glyphicon glyphicon-chevron-left"></i> Back to Trips</a>
                                    @*<input class="btn btn-primary btn-lg glyphicon glyphicon-plus-sign" type="submit" value="Create Student"/>*@
                                    <button type="submit" class="btn btn-success btn-lg">
                                        <i class="glyphicon glyphicon-plus-sign"></i> Create</button>
                                </div>
                @*<div class="col-md-3 col-xs-3 col-md-offset-3">*@
                @*@Html.ActionLink("Back to List", "Index", null, null, new { @class = "btn btn-warning btn-block" })*@
                @*<a href="@Url.Action("Index","Home")" class="btn btn-warning btn-block btn-lg"><i class="glyphicon glyphicon-chevron-left"></i> Back to List</a>
                </div>*@
            </div>
        </div>

    </div>
</div>
<h2>CreateTrip</h2>
