@model RACASem6.Models.Trip

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Trip</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TripName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TripName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NoOfLegs)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NoOfLegs)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TripStartDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TripStartDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TripFinishDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TripFinishDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TripNoOfGuests)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TripNoOfGuests)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.TripId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
