@model RACASem6.Models.Trip

@{
    ViewBag.Title = "Details";
}
<div class="row">
    <div class="col-lg-offset-1 col-sm-6">
        <h2>@Model.TripName</h2>
        @*<h2>Student: @Model.FirstMidName @Model.LastName</h2>*@
        <p class="lead">Trip Details.</p>

        <div class="form-group">
            <label class="h4">@Html.DisplayNameFor(model => model.TripName): </label>
            @Html.DisplayFor(model => model.TripName)
        </div>
    
        <div class="form-group">
            <label class="h4">@Html.DisplayNameFor(model => model.NoOfLegs): </label>
            @Html.DisplayFor(model => model.Legs.Count)
        </div>
        
        <div class="form-group">
            <label class="h4">@Html.DisplayNameFor(model => model.TripStartDate): </label>
            @Html.DisplayFor(model => model.TripStartDate)
        </div>
        
        <div class="form-group">
            <label class="h4">@Html.DisplayNameFor(model => model.TripFinishDate): </label>
            @Html.DisplayFor(model => model.TripFinishDate)
        </div>
        
       @* <div class="form-group">
            <label class="h4"> @Html.DisplayNameFor(model => model.TripNoOfGuests): </label>
            @Html.DisplayFor(model => model.TripNoOfGuests)
        </div>*@
        
          
        
        <p>
            @Html.ActionLink("Edit", "Edit", new { id=Model.TripId }) |
            @Html.ActionLink("Back to List", "Index")
    
            @Ajax.ActionLink("Legs", "LegsAction", "Home", new {id = Model.TripId}, new AjaxOptions{InsertionMode = InsertionMode.Replace, UpdateTargetId = "LegsPosition"})
        </p>
    </div>
</div>
<div id="LegsPosition" class="legsPosition"></div>



   