@model IEnumerable<RACASem6.Models.Trip>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-lg-offset-1 col-sm-6">
        <h2>List of Students</h2>
        <p class="lead">Basic EF with seeded database. Data Migrations are also enabled to cope with any changes to the data model.</p>
       @* @Html.ActionLink("Create Student","Create","Home",null, new {@class="btn btn-primary", style="margin-bottom:10px"})*@

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th class="tableHead">
           Trip Name
        </th>
      <th class="tableHead">
           Trip Start Date
        </th>
        <th class="tableHead">
           Trip Finish Date
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TripName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TripStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TripFinishDate)
        </td>
        
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.TripId }) 
        </td>
    </tr>
}

</table>
         </div>
</div>
