@model IEnumerable<RACASem6.Models.Trip>

@{
    ViewBag.Title = "Index";
}

<h2>Trips</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table-hover table-bordered table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TripName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Legs.Count)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TripStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TripFinishDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TripNoOfGuests)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TripName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Legs.Count)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TripStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TripFinishDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TripNoOfGuests)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TripId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TripId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TripId })
        </td>
    </tr>
}

</table>
